---
layout: default
title: Interests

---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Embedded CmapViewer</title>

<link rel="stylesheet" type="text/css" href="resources/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="resources/css/bootstrap/bootstrap-theme.css" />
<link rel="stylesheet" type="text/css" href="resources/css/cmap.css" />
</head>
<body>
<div class="container"> 
<div class="cmap-message">
<p class="legend">Embedded Cmap</p>
<p>
Below is an embedded Cmap using the tag<br>
<code>&lt;iframe src="https://cmapcloud.ihmc.us/viewer/cmap/1N7WL8GC2-1022C4F-
2WCD" width="640" height="480" frameborder="0" &gt;&lt;/iframe&gt;</code>
</p>

<iframe src="https://cmapcloud.ihmc.us/viewer/cmap/1N7WL8GC2-1022C4F-2WCD"
width="640" height="480" frameborder="0"></iframe>

</div>

<div id="footer">
<div class="copyright">
&copy; 2014 IHMC
</div>
</div>
</div>
</body>
</html>

  <div class="interests-row row center-xs">
    <div class="col-xs-12">
      <h2>What I like to do</h2>
      <p class="small">Even though I code 90% of the time, I (try to) have a life apart from that too!</p>
    </div>

    <ul class="tag-list col-xs-12 center-xs">
      {% for item in site.data.interests.interests %}
        <li class="tag">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.name }}</a>
          {% else %}
            <span>{{ item.name }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="interests-row row center-xs">
    <div class="col-xs-12">
      <h2>What I'm learning/Hoping to learn</h2>
      <p class="small">The following also serves as a todo list for myself to keep learning!</p>
    </div>

    <ul class="tag-list col-xs-12 center-xs">
      {% for item in site.data.interests.learning %}
        <li class="tag">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.name }}</a>
          {% else %}
            <span>{{ item.name }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>